.editor-container{
    background-color: var(--trinary-color);
    padding: 10px;
}

.editor-container .monaco-editor, .lines-content.monaco-editor-background {
    background-color: var(--trinary-color);
}

.editor-container .monaco-editor .margin{
    background-color: #61656e;
}

